.menu-desktop {
  display: block;
  position: relative;
  z-index: 1;
}

.menu-mobile {
  display: none;
}

.menu-desktop .menu-global-container {
  padding-top: 10px;
  display: flex;
  height: 60px;
  justify-content: space-around;
  box-shadow: 0px 0px 1px grey;
  margin-bottom: 1px;
  background-color: white;
}

.menu-desktop .menu-brand {
  width: 200px;
}

.menu-desktop .menu-logo {
  width: 100%;
}

.menu-desktop .menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-desktop .menu-item {
  padding: 0 10px;
}

.menu-desktop .menu-item a {
  color: black;
  text-decoration: none;
}

.menu-mobile .menu-global-container {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 1px grey;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  overflow-y:hidden;
}
.menu-mobile .menu-item {
  transition: 0.2s linear;
}

.menu-mobile .menu-brand {
  /* width: 30px; */
}

.menu-mobile .menu-logo {
  width: 30px;
}

.menu-mobile .menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  line-height: 40px;
}

.menu-mobile .menu-item a {
  color: black;
  text-decoration: none;
  transition: 0.2s linear;
}

@media screen and (min-width: 615px) and (max-width: 725px) {
  .menu-desktop .menu-item {
    font-size: 0.9rem;
    padding: 0 5px;
  }
  .menu-desktop .menu-brand {
    width: 170px;
  }
}


 @media screen and (min-width: 550px) and (max-width: 615px) {
  .menu-desktop .menu-item {
    font-size: 0.7rem;
  }
  .menu-desktop .menu-brand {
    width: 140px;
  }
} 

@media (max-width: 549px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: block;
    position: relative;
    z-index: 50;
    overflow-y: hidden;
  }

  .menu-link {
    background-color: none;
  }

  .active-menu {
    overflow: hidden;
    position: relative;
    z-index: 20;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: green;
    box-shadow: 0px 0px 1px 1px green;
  }

  .active-menu i {
    position: relative;
    z-index: 40;
    color: white;
  }

  .active-menu-deco-left {
    position: absolute;
    z-index: 30;
    left: -1px;
    top: 20px;
    width: 38px;
    height: 20px;
    background-color: green;
  }

  /* .active-menu-deco-right {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: yellow;
  } */

  /* .menu-mobile .menu-list li:focus {
    background-color: #333;
      color: #fff;
  } */

   /* .menu-mobile .menu-global-container .menu-list li > a {
    text-transform: capitalize;
    color: #333;
    transition: background-color .2s, color .2s;
    
    &:hover,
    &:focus {
      background-color: #333;
      color: #fff;
    }
  }

  .menu-mobile .menu-global-container .menu-list li.active > a {
    background-color: #333;
    color: #fff;
  } */

}


/* .navbar-desktop {
  display: block;
}

.navbar-mobile {
  display: none;
} 

.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav {
  min-width: none;
}

.navbar .navbar_logo {
  min-width: 30%;
  max-width: 200px;
}

.navbar-link-container .nav-item {
  margin: 0 10px;
} */

/* @media (min-width: 577px) and (max-width: 770px) {
  .navbar .navbar_logo {
    width: 150px;
  }
  .navbar-link-container .nav-item {
    font-size: 0.8rem;
  }

} */
/* 

@media (max-width: 576px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

} */