input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  display: none;
}

/***** Background Decoration 
******/
.ScanPage .ScanPage-decoration1 {
  position: absolute;
  top: 50vh;
  left: -10vw;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 0;
  background-color: rgba(48, 212, 56, 0.2);
}

.ScanPage .ScanPage-decoration2 {
  position: absolute;
  top: 5vh;
  left: 90vw;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 0;
  background-color: rgba(48, 212, 56, 0.2);
}

/***** Custom buttons
*****/
.ScanPage .btn_custom_brown {
  color: #A0522D;
  border-color: #A0522D;
}

.ScanPage .btn_custom_full_brown {
  color: white;
  background-color: #A0522D;
  border-color: none;
}

.ScanPage .btn_custom_full_brown:hover {
  color: white;
  background-color: #70391f;
  border-color: none;
}

.ScanPage .btn_custom_brown:hover {
  color: #fff;
  background-color: #A0522D;
  border-color: #A0522D;
}

.ScanPage .btn_custom_gold {
  color: orange;
  border-color: orange;
}

.ScanPage .btn_custom_gold:hover {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.ScanPage .right-result-status-recyclable,.ScanPage  .right-result-status-unrecyclable, .ScanPage .bottom-result-status-recyclable, .ScanPage .bottom-result-status-unrecyclable {
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.ScanPage .right-result-status-recyclable, .ScanPage .bottom-result-status-recyclable {
  color: green;
}

.ScanPage .right-result-status-unrecyclable, .ScanPage .bottom-result-status-unrecyclable {
  color: red;
}

.ScanPage .right-result-found-info a {
  text-decoration: none;
  color: green;
}


/***** Desktop version
*****/
.ScanPage-desktop {
  position: relative;
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

.ScanPage-mobile {
  display: none;
  position: relative;
  z-index: 1;
}

/**** Left desktop aside
****/
.ScanPage .left-info-container, .ScanPage .left-handcode-container, .ScanPage .left-camera-container, .ScanPage .left-result-not-found-container, .ScanPage .left-result-found-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 40vw;
  height: 80vh;
  text-align: center;
}


.ScanPage .left-info-buttons, .ScanPage .left-handcode-input, .ScanPage .left-camera-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.ScanPage .left-info-buttons .btn, .ScanPage .left-handcode-input btn, .ScanPage .left-handcode-input input {
  margin: 10px 0;
}

.ScanPage .left-camera-img {
  width: 100%;
}

.ScanPage .left-camera-img > img {
  width: 40%;
}

.ScanPage .left-result-found-container button {
  width: 45%;
  margin: 0 auto;
}

/**** Right desktop aside
****/
.ScanPage .right-img-container, .ScanPage .right-handcode-container, .ScanPage .right-result-not-found-container, .ScanPage .right-result-found-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40vw;
  min-width: 400px;
  /* height: 80vh; */
}

.ScanPage .right-result-found-container {
  text-align: center;
}

.ScanPage .right-camera-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50vw;
  min-width: 400px;
}


.ScanPage .left-handcode-container input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}

.ScanPage .left-handcode-container input:focus {
  outline: green;
  border: 1px solid green;
}

.ScanPage .right-img-container > img, .ScanPage .right-handcode-container > img, .ScanPage .right-camera-container > img, .ScanPage .right-result-not-found-container > img {
  padding: 50px;
  width: 100%;
}

.ScanPage .right-result-found-container img {
  padding: 50px;
  width: 80%;
}

.ScanPage .left-result-not-found-buttons .btn {
  margin: 10px;
}

@media screen and (min-width: 576px) and (max-width: 750px) {
  .ScanPage .right-img-container, .ScanPage .right-handcode-container, .ScanPage .right-result-not-found-container, .ScanPage .right-result-found-container {
    min-width: 200px;
    margin-top: 15vh;
    height: 300px;
    width: 300px;
    /* height: 80vh; */
  }
  .ScanPage .right-img-container > img, .ScanPage .right-handcode-container > img, .ScanPage .right-camera-container > img, .ScanPage .right-result-not-found-container > img {
    padding: 30px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .ScanPage::-webkit-scrollbar {
    display: none;
  }
  
  .ScanPage {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .ScanPage-desktop {
    display: none;
  }

  .ScanPage-mobile {
    position: relative;
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ScanPage .ScanPage-decoration2 {
    top: -5vh;
    left: 70vw;
  }

  .ScanPage-mobile .top-mobile-logo-container {
    width: 60%;
    margin: 0 auto;
    min-height: 40px;
    margin-top: 0px;
  }

  .ScanPage-mobile .top-mobile-logo {
    width: 100%;
  }

  /**** Home mobile
  ****/
  .ScanPage-mobile .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    align-content: center;
  }

  .ScanPage-mobile .top-info-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    margin: 0 auto;
  }

  .ScanPage-mobile .top-info-buttons button {
    min-width: 150px;
  }

  .ScanPage-mobile .bottom-info-scan-img-mobile-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .ScanPage-mobile .bottom-info-scan-img-mobile-container > img{
    width: 100%;
  }

  /**** Handcode mobile
  ****/
  .ScanPage-mobile .top-handcode-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;
    height: 45vh;
    text-align: center;
  }

  .ScanPage-mobile .top-handcode-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
  }

  .ScanPage-mobile .top-handcode-input input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
  }

  .ScanPage-mobile .top-handcode-input input:focus {
    outline: green;
    border: 1px solid green;
  }

  .ScanPage-mobile .top-handcode-input btn, .ScanPage-mobile .top-handcode-input input {
    margin: 10px 0;
  }

  .ScanPage-mobile .bottom-handcode-container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }

  .ScanPage-mobile .bottom-handcode-container > img {
    width: 200px;
    height: 170px;
  }

  /**** Camera mobile
  ****/
  .ScanPage-mobile .top-camera-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 20vh;
    text-align: center;
  }

  .ScanPage-mobile .bottom-camera-container {
    position: relative;
    display: block;
  }

  #interactive {
    width: 100vw;
    height: 80vh;
  }

  /**** Result mobile
  ****/

  .ScanPage-mobile .top-result-not-found-container, .ScanPage-mobile .top-result-found-container {
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }

  .ScanPage-mobile .top-result-not-found-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 0px;
  }

  .ScanPage-mobile .top-result-not-found-buttons p {
    margin-top: 10px;
    width: 80%;
  }

  .ScanPage-mobile .top-result-not-found-buttons button {
    margin: 5px;
  }

  .ScanPage-mobile .bottom-result-not-found-container {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
  }

  .ScanPage-mobile .bottom-result-not-found-container img {
    width: 95%;
  }

  .ScanPage-mobile .bottom-result-found-img {
    width: 150px;
    height: auto;
    text-align: center;
    margin: 15px auto;
  }

  .ScanPage-mobile .bottom-result-found-img img {
    width: 100%;
  }

  .ScanPage-mobile .bottom-result-found-container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }

  .ScanPage-mobile .bottom-result-found-info {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }

  .ScanPage-mobile .bottom-result-found-info img{
    width: 30%;
  }

  .ScanPage-mobile .bottom-result-status-recyclable, .ScanPage-mobile .bottom-result-status-unrecyclable {
    margin-top: 20px;
  }

  .ScanPage-mobile .bottom-result-found-container button {
    margin-top: 5px;
    width: 170px;
    padding: 0px;
  }



}