.ScanPage h2 {
  text-align: center;
}

.ScanPage section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ScanPage a {
  text-decoration: none;
  color: green;
}

.ScanPage .scan-choice-button {
  display: flex;
  justify-content: space-around;
}

.ScanPage .scan-img {
  width: 80%;
}

.ScanPage .result-status-image img{
  width: 50%;
}

.ScanPage .scan-camera {
  width: 100%;
}

.ScanPage .scan-icons{
  font-size: 2rem;
}

.ScanPage .btn_custom_brown {
  color: #A0522D;
  border-color: #A0522D;
}

.ScanPage .btn_custom_brown:hover {
  color: #fff;
  background-color: #A0522D;
  border-color: #A0522D;
}

.ScanPage .btn_custom_gold {
  color: orange;
  border-color: orange;
}

.ScanPage .btn_custom_gold:hover {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

.ScanPage .scan-icons-danger {
  color: rgb(187, 4, 4);
}

.ScanPage .result-status-recyclable,.ScanPage  .result-status-unrecyclable {
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.ScanPage .result-status-recyclable {
  color: green;
}

.ScanPage .result-status-unrecyclable {
  color: red;
}