.Home {
  height: 100vh;
}

.Home .desktop-version {
  display: block;
}

.Home .mobile-version {
  display: none;
}

.Home .home_img {
  width: 100%;
}

.Home .btn_custom_brown {
  color: #A0522D;
  border-color: #A0522D;
}

.Home .btn_custom_brown:hover {
  color: #fff;
  background-color: #A0522D;
  border-color: #A0522D;
}

.Home .mobile_separator {
  height: 20px;
  width: 100vw;
}

@media (max-width: 576px) {
  .masthead {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .Home .desktop-version {
    display: none;
  }
  .Home .mobile-version {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
  .Home .home-logo-container {
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 0;
  }
  .Home .home-logo-container img {
    width: 100%;
  }
}